@font-face {
  font-family: 'Helvetica Neue Regular';
  src: url('helvetica-webfont.eot');
  src: url('helvetica-webfont.eot?#iefix') format('embedded-opentype'),
  url('helvetica-webfont.woff2') format('woff2'),
  url('helvetica-webfont.woff') format('woff'),
  url('helvetica-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  height:100%;
}
body {
  font-family: "Helvetica Neue Regular", Arial, sans-serif;
  font-size:14px;
  line-height: 40px;
  background: url(../img/bg.png)top repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden;
  background-image: url(../img/bg-header.png);
  height: 40px;
}
.topmenu {
  width: :1000px;
  margin: 0 auto;
}
.leftmenu {
  float:right;
}
.leftmenu li {
  float:left;
}
.leftmenu li a {
  color: #66ccff;
  text-decoration: none;
  display: block;
  padding: 0px 10px;
}
.leftmenu li a:hover {
  background: #6699cc;
  color:#fff;
}
.vline {
  float:right;
}
.vline img {
  vertical-align: middle;
}
.rightmenu {
  color:#fff;
  text-decoration: none;
  float:right;
}
.rightmenu li {
  float:left;
  color:#fff;
  padding: 0 13px;
}
.rightmenu a {
  text-align: center;
  color:#fff;
}
.rightmenu li p span {
  text-decoration: underline;
}
.rightmenu .img {
  position: relative;
  overflow: hidden;
  background-image: url(../img/flag.png);
  background-repeat: no-repeat; 
  background-position:16px 8px;
  padding-left: 48px; 
}
.rightmenu li:last-child {
  background: #6699cc;
}
.head {
  width: 550px;
  margin:240px auto;
  color:#ccc;
  top: 0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.form {
  width: 275px;
  margin: 0  auto;
  text-align: inherit;
  padding-bottom: 20px;
}
.reg {
  text-align: center;
  border-bottom: 2px solid #cccccc;
}
.reg span {
  line-height: 62px;
  font-size:24px;
  color:#ffffff;
}
.fb/* facebook button */ {
  width: 275px;
  margin: 25px auto;
  border-top: 1px solid #6699cc;
  border-radius: 3px;
  position: relative;
}
.fb {
  line-height: 34px;
  padding: 36px 0 32px 0;
  width: 276px;
  margin: 0 auto;
}
.fb a {
  display: block;
  background: rgba(61,88,157,1);
  background: -moz-linear-gradient(top, rgba(61,88,157,1) 0%, rgba(44,65,120,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,88,157,1)), color-stop(100%, rgba(44,65,120,1)));
  background: -webkit-linear-gradient(top, rgba(61,88,157,1) 0%, rgba(44,65,120,1) 100%);
  background: -o-linear-gradient(top, rgba(61,88,157,1) 0%, rgba(44,65,120,1) 100%);
  background: -ms-linear-gradient(top, rgba(61,88,157,1) 0%, rgba(44,65,120,1) 100%);
  background: linear-gradient(to bottom, rgba(61,88,157,1) 0%, rgba(44,65,120,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d589d', endColorstr='#2c4178', GradientType=0 );
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  border-top: 1px solid #778ab4;
  border-radius: 4px;
}
.fb a:hover {
  background: rgba(44,65,120,1);
  background: -moz-linear-gradient(top, rgba(44,65,120,1) 0%, rgba(61,88,157,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,65,120,1)), color-stop(100%, rgba(61,88,157,1)));
  background: -webkit-linear-gradient(top, rgba(44,65,120,1) 0%, rgba(61,88,157,1) 100%);
  background: -o-linear-gradient(top, rgba(44,65,120,1) 0%, rgba(61,88,157,1) 100%);
  background: -ms-linear-gradient(top, rgba(44,65,120,1) 0%, rgba(61,88,157,1) 100%);
  background: linear-gradient(to bottom, rgba(44,65,120,1) 0%, rgba(61,88,157,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c4178', endColorstr='#3d589d', GradientType=0 );
}
.fb a img {
  vertical-align: middle;
  margin-top: -3px;
}
.fb span {
  display: inline;
  font-size: inherit;
  font-weight: bold;
  padding: 0 6px 0 6px;
}
.fb a:after {
  font-weight: bold;
  position: absolute;
  height: 20px;
  content: "›";
  width: 9px;
  top: 50%;
  right: 27px;
  margin-top: -18px;
  font-size: 20px;
}
.ou {
  background: url(../img/vertical-line.png) no-repeat center;
  text-transform: uppercase;
  text-align: center;
  color: #999;
  margin: 0 auto;
  margin-bottom: 30px;
}
.ou span {
  font-size: 14px;
}
.info input {
  width: 256px;
  height: 35px;
  background: #000;
  border: 1px solid #000;
  border-bottom: 1px solid #333;
  margin-bottom: 13px;
  color:#ccc;
  padding-left: 18px;
}
.info input:focus {
  width: 256px;
  height: 35px;
  background: #336699;
  border: 1px solid #6699cc;
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2),
  0px 0px 12px 2px rgba(47,122,197,1),
  inset 0px -1px 0px 0px rgba(104,156,204,1);
  margin-bottom: 13px;
  color:#fff;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(51,102,153,1);
  -moz-box-shadow: 0px 0px 6px 0px rgba(51,102,153,1);
  box-shadow: 0px 0px 6px 0px rgba(51,102,153,1);
}
.newaccount {
  text-align: center;
}
.newaccount input {
  border: 1px solid #6bb9e7;;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  width: 150px;
  margin: 10px 0;
  color: #fff;
  height: 35px;
  background: linear-gradient(to top, #2e7ac4, #50afdc);
}
.newaccount input:hover{
  background: rgba(46,121,196,1);
  background: -moz-linear-gradient(top, rgba(46,121,196,1) 0%, rgba(80,175,219,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,121,196,1)), color-stop(100%, rgba(80,175,219,1)));
  background: -webkit-linear-gradient(top, rgba(46,121,196,1) 0%, rgba(80,175,219,1) 100%);
  background: -o-linear-gradient(top, rgba(46,121,196,1) 0%, rgba(80,175,219,1) 100%);
  background: -ms-linear-gradient(top, rgba(46,121,196,1) 0%, rgba(80,175,219,1) 100%);
  background: linear-gradient(to bottom, rgba(46,121,196,1) 0%, rgba(80,175,219,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e79c4', endColorstr='#50afdb', GradientType=0 );
  cursor: pointer;
}
.head p {
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  width: 308px;
}
.clearfix:after {
  content:'';
  clear: both;
  display: block;
}